spring-ry/src/main/resources/META-INF/account.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://hresh.com/schema/account"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://hresh.com/schema/account"
            elementFormDefault="qualified">
<xsd:element name="user">
    <xsd:complexType>
        <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="userName" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="email" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
</xsd:element>
</xsd:schema>